@font-face {
font-family: 'Nunito Bold';
font-style: normal;
font-weight: normal;
src: local('Nunito Bold'), url('../css/fonts/Nunito-Bold.ttf') format('truetype');
}
@font-face {
font-family: 'Nunito Regular';
font-style: normal;
font-weight: normal;
src: local('Nunito Regular'), url('../css/fonts/Nunito-Regular.ttf') format('truetype');
}
@font-face {
font-family: 'DIN Condensed Bold';
font-style: normal;
font-weight: normal;
src: local('DIN Condensed Bold'), url('../css/fonts/DINCondensed-Bold.woff') format('woff');
}
body {
    display: flex;
    flex-wrap: wrap;
  }
  .navbar {
    background: rgba(18, 18, 18, 0.6);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.9);

  }
  
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .navbar a {
    color: #cfcbcb;
    font-family: "DIN Condensed Bold";
    font-size: 20px;
    width: 125px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s color ease-in-out;
  }
   .container-fluid {
     width: 100%;
   }
  
  .nav>li>a:hover {
   color: white;
   background-color: #eee0;
  }
  
  .navbar-nav li.active > a {
    color: white;
   background-color: #eee0;
  }
  
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
  }
  .navbar .navbar-collapse {
      text-align: center;
  }
  .navbar-toggle {
    border: 1px solid white;
  }
  
  .navbar-toggle .icon-bar {
    background-color:white;
  }

#projects-header {
    height: 100%;
    overflow: hidden;
}
#projects-header #bg {
    width: 100%;
}

#projects-info {
    height: 80%;
    overflow: hidden;
}

#projects-info .container {
    padding: 5% 0 ;
    margin: 0 auto;
    width: 50%;
    display: block;
}

#projects-info .contents .info-title {
    text-align: center;
    font-family: 'Nunito Bold';
    text-align: center;
    font-size: 60px;
}

#projects-info .contents .info-text {
    font-family: 'Nunito Regular';
    text-align: center;
}

#projects-info .contents #title {
    color: #10ABF0;
}


#projects-info .contents #subtitle {
    color: #413F3F;
}

#projects-points {
    margin: 0 auto;
    display: block;
}

#projects-points .contents .image {
    margin-right: 10;
    margin-top: -10%;
    float: left;
    text-align: center;
}

#projects-points .contents .image img {
    width: 90%;
}

#projects-points .contents .infotext li {
    margin-bottom: 20px;
}
#projects-points .contents .infotext #title{
    font-size: 40px;
    display: block;
}

#projects-points .contents .infotext #text{
    font-size: 20px;
    display: block;
}

#projects-points .contents li {
    list-style-type: none;
}

#projects-image img {
    width: 100%;
}


#projects-images {
    text-align: center;
}
#projects-images img {
    width: 60%;
}

#projects-image .image-minimal {
    margin: 0 auto;
}

@media all and (min-width: 1281px)  { 
    #projects-info {
        padding-top: 5%;
        padding-bottom: 10%;
    }

    #projects-info .contents .info-title #title {
        font-size: 1.5em;
        margin-bottom: 0;
    }

    #projects-info .contents .info-title #subtitle {
        font-size: 1em;
        margin-top: 0;
    }

    #projects-info .contents .info-text {
        width: 60%;
        margin: 0 auto;
    }
    #projects-info .contents .info-text #text {
        font-size: 1.3em;
    }

    #projects-points .contents .image {
        margin-top: 0;
    }
    
    #projects-points .contents .image img {
        vertical-align: top;
        width: 100%;
    }

    #projects-points {
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: #f0eeee;
    }

    #projects-points .contents {
        display: flex;
        margin-left: 10%;
    }
    #projects-points .contents .image img {
        vertical-align: top;
        width: 100%;
    }

    #projects-points .contents .infotext {
        display: inline-block;
        vertical-align: top;
        margin-top: 3%;
        width: 100%;
    }

    #projects-points .contents .infotext #title {
        font-size: 3em;
    }

    #projects-points .contents .infotext #text {
        font-size: 1.5em;
    }

    #projects-points .contents .infotext ul {
        margin-left: 15%;
    }
  }

@media all and (min-width: 981px) and (max-width: 1280px) { 
    #projects-info {
        padding-top: 5%;
        padding-bottom: 10%;
    }

    #projects-info .contents .info-title #title {
        font-size: 1.5em;
        margin-bottom: 0;
    }

    #projects-info .contents .info-title #subtitle {
        font-size: 1em;
        margin-top: 0;
    }

    #projects-info .contents .info-text #text {
        font-size: 1.3em;
    }



    #projects-points .contents .image {
        margin-top: 0;
    }
    
    #projects-points .contents .image img {
        vertical-align: top;
        width: 100%;
    }

    #projects-points {
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: #f0eeee;
    }

    #projects-points .contents {
        display: flex;
        margin-left: 10%;
    }
    #projects-points .contents .image img {
        vertical-align: top;
        width: 100%;
    }

    #projects-points .contents .infotext {
        display: inline-block;
        vertical-align: top;
        margin-top: 3%;
        width: 100%;
    }

    #projects-points .contents .infotext #title {
        font-size: 3em;
    }

    #projects-points .contents .infotext #text {
        font-size: 1.5em;
    }

    #projects-points .contents .infotext ul {
        margin-left: 5%;
    }
  
  }

@media all and (min-width: 737px) and (max-width: 980px) {
    #projects-info {
        padding-top: 5%;
        padding-bottom: 10%;
    }
    #projects-info  .info-title #title {
        font-size: 1em;
        margin-bottom: 0;
    }
    #projects-info .info-title #subtitle {
        font-size: 0.4em;
        margin-top: 0;
    }

    #projects-points .contents .image {
        display: inline-block;
        margin-top: 0;
    }

    #projects-points {
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: #f0eeee;
    }

    #projects-points .contents {
        display: flex;
    }
    #projects-points .contents .image img {
        vertical-align: top;
        width: 100%;
    }

    #projects-points .contents .infotext {
        display: inline-block;
        vertical-align: top;
        margin-top: 15%;
        width: 100%;
    }

    #projects-points .contents .infotext #title {
        font-size: 2em;
    }

    #projects-points .contents .infotext #text {
        font-size: 1em;
    }

    #projects-points .contents .infotext ul {
        margin-left: 5%;
    }
  
  }

@media all and (min-width: 480px) and (max-width: 736px) {
    #projects-info {
        padding-top: 5%;
        padding-bottom: 10%;
    }
    #projects-info  .info-title #title {
        font-size: 1em;
        margin-bottom: 0;
    }
    #projects-info .info-title #subtitle {
        font-size: 0.4em;
        margin-top: 0;
    }

    #projects-points .contents .image {
        display: inline-block;
        margin-top: 0;
    }

    #projects-points {
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: #f0eeee;
    }

    #projects-points .contents {
        display: flex;
    }
    #projects-points .contents .image img {
        vertical-align: top;
        width: 80%;
    }

    #projects-points .contents .infotext {
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    #projects-points .contents .infotext #title {
        font-size: 1.5em;
    }

    #projects-points .contents .infotext #text {
        font-size: 1em;
    }

    #projects-points .contents .infotext ul {
        margin-left: -5%;
    }
  
  }

@media all and (max-width: 479px) {
    #projects-info {
        padding-top: 5%;
        padding-bottom: 10%;
    }
    #projects-info  .info-title #title {
        font-size: 1em;
        margin-bottom: 0;
    }
    #projects-info .info-title #subtitle {
        font-size: 0.4em;
        margin-top: 0;
    }

    #projects-points .contents .image {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    #projects-points {
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: #f0eeee;
    }
    #projects-points .contents .image img {
        width: 70%;
    }

    #projects-points .contents .infotext ul {
        text-align: center; 
        padding-left: 0;
    }

    #projects-points .contents .infotext #title {
        font-size: 2em;
    }

    #projects-points .contents .infotext #text {
        font-size: 1em;
    }

  }
  