@font-face {
font-family: 'DIN Condensed Bold';
font-style: normal;
font-weight: normal;
src: local('DIN Condensed Bold'), url('../css/fonts/DINCondensed-Bold.woff') format('woff');
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  #main-area {
    background-size: 100%;
  }
}

body {
  font-family: 'DIN Condensed Bold';
  display: flex;
  flex-wrap: wrap;
}

.btn {
  font-size: 14px;
  padding: 11px 40px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  display: inline-block;
}

.btn-common {
  border: 3px solid #707070;
  background: none;
  position: relative;
  color: #fff;
}

#main-area {
   background-image: url(../images/mainpage.png);
   background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#main-area h1 {
  color: white;
}

#skills {
  background-image: url(../images/background.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

}

#skills .contents{
  padding: 10% 0 5% 5%;
}

#skills .section-header h1 {
  background-color: white;
  width: 125px;
  text-transform: uppercase;
}

#skills .section-contents ul{
  list-style-type: none;
  padding: 0;
}

#skills .section-contents ul li {
  font-size: 56px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#skills #skill {
  color: #00FFFF;
}

#projects {
}

#projects .contents {
}

#projects .row img {
  width: 100%;
  height: 50%;
}

#projects .col-sm-6 {
  padding: 0 0 0 0;
}