@font-face {
font-family: 'DIN Condensed Bold';
font-style: normal;
font-weight: normal;
src: local('DIN Condensed Bold'), url('../css/fonts/DINCondensed-Bold.woff') format('woff');
}

body {
  font-family: 'DIN Condensed Bold';
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  background: rgba(18, 18, 18, 0.6);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.9);
}

.navbar .container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar a {
  color: #cfcbcb;
  font-family: "DIN Condensed Bold";
  font-size: 20px;
  width: 125px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s color ease-in-out;
}
 .container-fluid>.navbar-header {
   margin-left: 5%;
 }

.navbar-right {
  margin-right: 5%;
}


.nav>li>a:hover {
 color: white;
 background-color: #eee0;
}

.navbar-nav li.active > a {
  color: white;
 background-color: #eee0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-toggle {
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color:white;
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .navbar-right {
  margin-right: 5%;
}
}

.btn {
  font-size: 25px;
  padding: 15px 60px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  display: inline;
  text-align: center;
  transition: 0.5s ease-in-out;
}

#main-area .btn:hover {
  background-color: white;
  color: black;
}

.btn-common {
  border: 2px solid white;
  background: none;
  color: #fff;
}

#main-area {
  background-image: url(../images/mainpage.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

#main-area .logoHeader  {
  padding-bottom: 5%;
}

#main-area .logoHeader img {
  width: 25%;
}

@media only screen and (min-width: 100px) and (max-width: 860px) {
  #main-area {
    background-image: url(../images/website-footer-bg-4-3.png);
    background-position: 50% 50%;
    background-size: 200%; 
    background-repeat: no-repeat;
    background-color: #151515;
  }

  #main-area .logoHeader  {
    padding-bottom: 15%;
  }
  
  #main-area .logoHeader img {
    width: 80%;
  }

  #main-area .btn {
    padding: 10px 30px;
  }
}

#main-area h1 {
  color: white;
}

#skills {
  background-color: #151515; 
}



#skills .section-header h1 {
  background-color: white;
  width: 150px;
  padding-left: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 50px;
}

#skills .section-contents ul{
  list-style-type: none;
  padding: 0;
}

#skills .section-contents ul li {
  font-size: 65px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
}

#skills #skill {
  color: #00FFFF;
}


#projects .contents {
  height: 100%;
}

#projects .contents a img {
  transition: all .5s;
  image-rendering: auto;

}

#projects .contents a:hover img{
  transform: scale(1.1);
}

#projects .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, .8);
  transition: .5s ease;
}

#projects .overlay div {
  margin-top: 30%;
  color: white;
  text-align: center;
  font-size: 50px;
  opacity: 1;
}

#projects .contents a:hover .overlay {
  opacity: 1;
}


#projects .row img {
height: 100%;
width: 100%;
}

#projects .col-md-4 {
  padding: 0;
  height: 50%;
  overflow: hidden;
}

#footer {
  background-image: url(../images/website-footer-bg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#footer .contents {
  text-align: center;

}
#footer .title-info img {
  width: 35%;
}

@media all and (max-width: 479px) {

  #skills .fp-tableCell {
    display: initial;
  }
  #skills  .contents {
    justify-content: center;  
  }

  #skills .profile-picture {
    text-align: center;
    margin-bottom: 25%;
  }

  #skills .profile-picture img {
     width: 60%;
  }

  #skills .info-text {
    text-align: center;
  }
  #skills .info-text p{
    font-size: 150%;
  }

  #skills .info-text h1 {
    text-transform: uppercase;
    color: white;
    font-size: 3em;
  }



  #skills .info-text span {

  }

}

